<html>
    <head></head>
    <body>
        <h1>VOTOS CON EL ULTIMO COMENTARIO DE UN MINIJUEGO:</h1>
        <p>---------------------------------------------------------------------------------</p>
        <div>
            <h2>Puntuacion: {{ voto.puntuacion }}</h2>
            <h2>Comentario: {{ voto.comentario }}</h2>
            <h2>Fecha del comentario: {{ voto.fecha_hora }}</h2>
            
        </div>
        <p>---------------------------------------------------------------------------------</p>
        <br>
    </body>
</html>